article, aside, figure, footer, header, nav, section {
    display: block;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	width: 460px;
	margin: 0 auto;
    padding: 20px;
    border: 3px solid blue;
}
h1 {
	background: #dfe3e6 url('images/bullet.gif') no-repeat 7px center;
	margin: 0;
	padding: 3px 0 3px 25px;
	border: solid blue 1px;
	color: blue;
}








