/* type selectors */
article, aside, figure, footer, header, nav, section {
    display: block;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0 auto;
    width: 750px;
    border: 3px solid blue;
}
h1 {
	color: blue;
}
section {
    padding: 0 2em 1em;
}
label {
	float: left;
    width: 11em;
    text-align: right;
}
input {
    width: 12em;
    margin-left: 1em;
    margin-bottom: .5em;
}
span {
	color: red;
	margin-left: .5em;
}
#join, #reset {
	width: 7.5em;
}
