/* So the HTML5 structural tags work in older browsers */
article, aside, figure, footer, header, nav, section {
    display: block;
}

/* Reset Selector */
* {
	margin: 0;
	padding: 0;
}

/* the styles for the elements */
html {
	background: white;
}

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    width: 800px;
    margin: 0 auto;
    border: 3px solid #800000;
    background: #fffded;
}

a:hover, a:focus {
	font-style: italic;
}

/* the styles for the header 
  changed padding from book because logo wasn't fitting*/
header {
	border-bottom: 3px solid #800000;
	padding: 1.5em 0 2.5em;
	background-image: linear-gradient(30deg, #800000 0%, #fffded 25%, white 50%, #fffded 75%, #800000 100%)
}

header img {
	float: left;
	padding: 0 30px;
}

header h1 {
	color: #800000;
}

header h2 {
	font-style: italic;
}

/* the styles for the section */
section {
	clear: left;
	padding: 0 20px;
	width: 525px;
	float: right;
}

section h1 {
	font-size: 150%;
	color:#800000;
	padding: .5em 0 .25em;
}

section h2 {
	font-size: 120%;
	padding-bottom: .25em;
}
/*
section img {
	padding: .5em 0 1em;	
}
*/
section p {
	padding-bottom: .5em;	
}

section blockquote {
	padding: 0 2em;
	font-style: italic;
}

section ul {
	padding-bottom: 1.5em;
	padding-left: 1.25em;
}	

section li {
	padding-bottom: .35em;	
}	

/*
#speakers {
	border-top: 3px solid #800000;
	border-bottom: 3px solid #800000;
	margin-bottom: .75em;
}
*/
.shadow {
	text-shadow: 2px 2px 2px #800000;
}

/* the styles for aside */
aside {
	padding-left: 20px;
}

aside h1 {
	font-size: 150%;
	color: #800000;
	padding: .5em 0 .25em;
}

aside h2 {
	font-size: 120%;
	padding-bottom: .25em;
}

aside img {
	padding-bottom: 1em;
}

/* styles for article */
article {
	border-top: 2px solid #800000;
	border-bottom: 2px solid #800000;
}
article img {
	float: right;
	border: 1px solid black;
}
article h1 {
	color: black;
}

/* the styles for the footer */
footer {
	border-top: 3px solid #800000;	
	padding: 1em 0;
	clear: both;
}

footer p {
	text-align: center;
}
