body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
}
#map {
	float: left;
	width: 600px;
	height: 600px
}
#directions	{
	width: 300px;
	height: 600px;
	float: left;
	overflow: auto;
}
#message {
	position: absolute;
	padding: 10px;
	background: white;
	border: 2px black solid;
	border-radius: 10px;
}