/*body 				{font-family:Arial, Helvetica, sans-serif;font-size:0.8em;line-height:25px;background-color:#dfe3e6;}
#container,
header,
footer				{width:697px;clear:both;}
section#container	{background:url('images/mainbg.gif');margin:15px auto 0 auto;}
header 				{height:227px;background:url('images/logo.gif') no-repeat 25px;}
nav 				{width:235px;float:left;}
nav ul 				{list-style-type:none;}
nav ul li a:link,
nav ul li a:visited, 
#content h2			{font-size:14px;font-weight:bold;background:#dfe3e6 url('images/bullet.gif') no-repeat 7px center;
					padding:3px 0 3px 20px;border:solid #929ca4 1px;color:#cc1c0d;}
nav ul li a:link,
nav ul li a:visited	{width:110px;margin-bottom:15px;text-decoration:none;}				
nav ul li a:hover	{color:#000;background-color:#ccc;}
#content			{width:447px;float:left;background-color:#fff;padding-right:15px;}
#content a:link,
#content a:visited	{color:#cc1c0d;}
footer 				{height:35px;background:url('images/footer.gif');}

#container,
header,
nav,
nav ul li a:link,
nav ul li a:visited,
#content,
footer				{display:block;}
h3 {
	margin-bottom: 0;
}
*/
article, aside, figure, footer, header, nav, section {
    display: block;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	line-height: 25px;
	background-color: #dfe3e6;
}
#container {
	background: #fff;
	width: 697px;
	margin: 15px auto 0 auto;
}
header {
	height: 100px;
	background: url('images/logo.gif') no-repeat 25px;
}
nav	{
	width: 235px;
	float: left;
}
nav ul {
	list-style-type: none;
}
nav ul li a:link, nav ul li a:visited, h2 {
	font-size: 14px;
	font-weight: bold;
	background: #dfe3e6 url('images/bullet.gif') no-repeat 7px center;
	padding: 3px 0 3px 20px;
	border: solid #929ca4 1px;
	color: #cc1c0d;
}
nav ul li a:link, nav ul li a:visited {
	width: 110px;
	margin-bottom: 15px;
	text-decoration:none;
	display: block;
}				
nav ul li a:hover {
	color: #000;
	background-color: #ccc;
}
#content {
	width: 447px;
	float: left;
	background-color: #fff;
	padding-right: 15px;
}
#content a:link, #content a:visited {
	color: #000080;
}
h3 {
	margin-bottom: 0;
}
footer {
	height: 35px;
	background: url('images/footer.gif');
	clear: both;
}