/* So the HTML5 structural tags work in older browsers */
article, aside, figure, footer, header, nav, section {
    display: block;
}
/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: white;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    width: 800px;
    margin: 0 auto;
    border: 3px solid #800000;
    background-color: #fffded;
}
a:focus, a:hover {
	font-style: italic;
}
/* the styles for the header */
header {
	border-bottom: 3px solid #800000;
	padding: 1.5em 0;
	background-image: -moz-linear-gradient(
	    30deg, #800000 0%, #fffded 30%, white 50%, #fffded 80%, #800000 100%);
	background-image: -webkit-linear-gradient(
	    30deg, #800000 0%, #fffded 30%, white 50%, #fffded 80%, #800000 100%);
	background-image: -o-linear-gradient(
	    30deg, #800000 0%, #fffded 30%, white 50%, #fffded 80%, #800000 100%);
	background-image: linear-gradient(
	    30deg, #800000 0%, #fffded 30%, white 50%, #fffded 80%, #800000 100%);
}
header h1 {
	color: #800000;
}
header h2 {
	font-style: italic;
}
header img {
	float: left;
	padding: 0 30px;
}
.shadow {
	text-shadow: 2px 2px 2px #800000;
}
/* the styles for the navigation bar */
nav {
	clear: left;
	margin: 0;
	padding: 0;
	/*border-bottom: 3px solid #800000;*/
}
nav ul {
	/*margin-left: 0;
	margin-bottom: .5em;*/
	list-style: none;
	padding: 1em 0;
	background-color: #800000;
}
nav li {
	display: inline;
	/*
	padding: 0 1.5em;
	border-right: 2px solid black;
	font-weight: bold;
	*/
}
nav a {
	padding: 1em 2em;
	text-decoration: none;
	color: #FFFDED;
	font-weight: bold;
	border-right: 2px soldi white;
}
nav a.current { color: yellow; }

/* the styles for the section */
section {
	clear: left;
	padding: 0 20px 20px;
	width: 525px;
	float: right;
}
section h1 {
	color: #800000;
	font-size: 150%;
	padding: .5em 0 .25em;
}
section h2 {
	font-size: 120%;
	padding-bottom: .25em;
}
section p {
	padding-bottom: .5em;
}
section blockquote {
	padding: 0 2em;
	font-style: italic;
}
section ul {
	padding: 0 0 1.5em 1.25em;
}
section li {
	padding-bottom: .35em;
}

article {
	
}
article h1 {
	color: black;
}
article img {
	float: right;
	margin: 1em 0 1em 1em;
	border: 1px solid black;
}
aside {
	width: 215px;
	float: right;
	padding-left: 20px;
	padding-bottom: 20px;
}
aside h1 {
	color: #800000;
	font-size: 150%;
	padding: .5em 0 .25em;
}
aside h2 {
	font-size: 120%;
	padding-bottom: .25em;
}
aside img {
	padding-bottom: 1em;
}
figure {
	float: right;
	margin-left: 1.5em;
}
figure img {
	margin: 1em 0 0;
	border: 1px solid black;
}
figcaption	{
	display: block;
	font-weight: bold;
	padding-top: .25em;
	margin-bottom: 1em;
	border-bottom: 1px solid black;
}

/* the speakers styles for exercise 5-1 */
#speakers {
	
}
/* the speakers styles for exercise 5-2 
#speakers {
	border: 3px double #800000;
	margin-bottom: .75em;
	border-radius: 10px;
	box-shadow: 5px 5px;
	padding: .5em 0 .5em 2em;
	background-color: white;
}
*/

/* the styles for the footer */
footer {
	border-top: 3px solid #800000;
	clear: both;
}
footer p {
	padding: 1em 0;
	text-align: center;
}

/*style for media */
@media print {
	body {
		font-family: "Times New Roman", Times, serif;
		background-color: white;
		width: auto;
		border: none;
	}
	aside h1, #return_link, nav {
		display: none;
	}
	aside {
		padding: 0em;
		width: 2in;
	}
	section {
		padding: 0em;
		width: 5in
	}
	h1, h2 {
		font-family: Arial, Helvetica, sans-serif;
	}
	h2 aside {
		font-size: 100%;
	}
	aside a {
		text-decoration: none;
		color: black;
	}
}
